# Ignore OS files
.DS_Store

# Ignore list of package dependencies
node_modules/

# Ignore build output from webpack
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore env file
.env